* {
    margin: 0;
    font-family: monospace;
}

header {
    width: 100%;
    background-image: url(./header-background.jpeg);
}

    h1 {
        font-size: 5em;
        padding: 1rem;
        text-align: center;
        color: white;
        -webkit-text-stroke: 1.5px black;
    }

body {
    background: linear-gradient(to right, rgb(0, 165, 211), rgb(0, 130, 167));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: white;
    justify-content: center;
    text-align: center;
    margin-top: 5vh;
    min-width: 50%;
}

    .header {
        background-color: black;
        display: flex;
        justify-content: center;
    }

        .icon-container {
            position: relative;
            top: 50px;
            background-color: white;
            border-radius: 50%;
        }

    .content {
        margin-top: 5vh;
        padding: 1vh;
    }

        .gen-info {
            display: flex;
            flex-direction: column;
        }

            .status {
                font-size: 5em;
                font-weight: bolder;
            }
            
            .location {
                font-size: 3em;
            }

        .details {
            display: flex;
            justify-content: space-between;
            margin-top: 2vh;
        }

            .detail {
                display: inline-flex;
                flex-direction: column;
                flex-basis: 0;
                flex-grow: 1;
            }

                .title {
                    font-size: 2em;
                    font-weight: bold;
                }

                .value {
                    font-size: 1.5em;
                }
            
        .search-container {
            margin-top: 5vh;
            align-items: center;
            display: inline-flex;
            margin-bottom: 20px;
        }
        
            input {
                font-size: 2em;
                margin-right: 20px;
            }
            
            submit {
                font-size: 2.5em;
            }

            submit:hover {
                cursor: pointer;
                font-weight: bold;
            }